.App {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    padding: 50px 0;
    main {
        position: relative;
        margin-top: 50px;
    }
    &-Decor {
        position: absolute;
        bottom: -70px;
        right: -174px;
        z-index: -1;
    }
}


