.CharacterInfo {
    position: relative;
    padding: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .25);
    z-index: 5;
    &-Header {
        display: flex;
        gap: 25px;
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
    &-Name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
    }
    &-Btns {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 35px;
    }
    &-Descr {
        margin-top: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    &-Comics {
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
    }
    &-ComicsList {
        margin-top: 5px;
    }
    &-ComicsItem {
        padding: 0 10px;
        line-height: 25px;
        margin-top: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    }
    &-Select {
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    &-Skeleton {
        margin-top: 30px;
    }
}