@import "../../styles/variables.scss";

.Header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  &-Title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    span {
      color: $mainColor;
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }

  &-Menu {
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      li {
        margin: 0 8px;
      }
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .Header {
    flex-direction: column;
    gap: 10px;
    &-Menu {
      ul {
        justify-content: center;
      }
    }
  }
}