@import '../../styles/variables.scss';

.CharacterItem {
    background-color: $dark;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
    transition: 0.3s all;
    cursor: pointer;
    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    &-Name {
        padding: 15px;
        font-weight: bold;
        line-height: 29px;
        font-size: 22px;
        text-transform: uppercase;
        color: #fff;
    }
    // &:focus {
    //     box-shadow: 0 5px 20px $mainColor;
    //     transform: translateY(-8px);
    // }
}

.CharacterItem.CharacterItem-Selected {
    box-shadow: 0 5px 20px $mainColor;
    transform: translateY(-8px);
}