@import "../../styles/variables.scss";

.SingleComics {
  display: grid;
  grid-template-columns: 293px 550px auto;
  column-gap: 50px;
  margin-top: 50px;
  img {
    width: 293px;
    height: 450px;
    object-fit: cover;
  }
  &-Title {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
  }
  &-Descr {
    margin-top: 25px;
    font-size: 18px;
    line-height: 24px;
  }
  &-Pages {
    margin-top: 25px;
    font-size: 18px;
  }
  &-Language {
    margin-top: 25px;
    font-size: 18px;
  }
  &-Price {
    margin-top: 25px;
    color: $mainColor;
    font-weight: bold;
    font-size: c 24px;
    line-height: 32px;
  }
  &-Back {
    font-weight: bold;
    font-size: 18px;
    text-align: end;
  }
}

@media (max-width: 1200px) {
  .SingleComics {
    grid-template-columns: 293px auto auto;
    column-gap: 30px;
  }
}

@media (max-width: 991px) {
  .SingleComics {
    grid-template-columns: 293px auto;
    grid-template-rows: 20px, 450px;
    column-gap: 0;
    row-gap: 20px;
    img {
      width: 263px;
      height: 420px;
    }
    &-Back {
      text-align: start;
      grid-column: 1/3;
      order: -1;
    }
  }
}

@media (max-width: 600px) {
  .SingleComics {
    grid-template-columns: 1fr;
    grid-template-rows: 20px, 450px, auto;
    row-gap: 20px;
    &-Back {
      text-align: start;
      grid-column: unset;
      order: -1;
    }
  }
}