@import "../../styles/variables.scss";

.Banner {
  display: grid;
  grid-template-columns: 152px auto 133px;
  max-width: 100%;
  height: 100px;
  padding: 0 25px 0 45px;
  background-color: $dark;
  &-Text {
    padding: 18px 0 0 93px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
  }
}


@media screen and (max-width: 992px) {
  .Banner {
    grid-template-columns: auto 133px;
    &-Avengers {
      display: none;
    }
    &-Text {
      padding-left: 50px;
    }
  }
}

@media screen and (max-width: 600px) {
  .Banner {
    grid-template-columns: auto;
    padding-left: 20px;
    &-Text {
      font-size: 22px;
      padding-left: 0;
    }
    &-Logo {
      display: none;
    }
  }
}